.App {
  text-align: center;
}
.calc-body{
  max-width: 300px;
  margin: auto;

}
.buttons{
  display: block;
}
.result{
  height: 70px;
  background-color: #6495ED;
  width: 100%;

}
.result p{
  font-size: 40px;
  background-color: #6495ED;
}
.buttons button{
  width: 25%;
  height: 55px;
  font-size: 30px;
  background-color: blueviolet
}
